@import 'primeflex/primeflex.css';
@import 'primeng/resources/themes/lara-light-green/theme.css';
@import 'primeng/resources/primeng.css';
@import 'primeicons/primeicons.css';
@import 'mapbox-gl/dist/mapbox-gl.css';
/* @import '@mapbox/mapbox-gl-draw/dist/mapbox-gl-draw.css'; */

body {
  margin: 0;
  font-family: 'Inter', sans-serif;
  background-color: #f8fafc;
}
